/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
/* padding:0;
margin:0; */
    background:#e8f2f2;
    font-family: 'Cabin Condensed', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
a{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
a:hover{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.wrap {
    width:85%;
    margin: 0 auto;
}
/*--footer start here-*/
h1 {
    font-size: 3em;
    color: #FBC605;
    text-align: center;
    margin-top: 1em;
    font-family: 'Ubuntu', sans-serif;
}
.footer-grid h3 {
    font-size: 1.8em;
    color:#17A9B5;
    margin-bottom: 0.4em;
    font-family: 'Ubuntu', sans-serif;
}
.footer-grid {
    float: left;
    width: 20%;
}
.footer-main {
    background: #fff;
    min-height: 150px;
    padding: .2em .2em;
}
.footer {
    padding:5em 0em 3em 0em;
}
.footer-grid ul li a {
    font-size: 1.05em;
    color:#4E4D4D;
    line-height: 1.8em;
}
.footer-grid ul li a:hover{
   color:#FBC605;
}
.footer-grid ul li {
    margin-bottom: 0.5em;
}
.footer-grid p {
    font-size: 1em;
    color:#4E4D4D;
    line-height: 1.8em;
    width: 80%;
}
.footer-grid input[type="text"] {
    font-size: 1em;
    color: #000;
    padding: 0.5em 0.5em;
    outline: none;
    width: 50%;
}
.footer-grid input[type="submit"] {
    font-size: 0.9em;
    color: #FFF;
    padding: 0.78em 1em;
    border: none;
    width: 25%;
    outline: none;
    background: #17A9B5;
    cursor: pointer;
    vertical-align: top;
}
.footer-grid input[type="submit"]:hover {
	background:#FBC605;
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.footer-grid ul.social-icon li {
	display:inline-block;
}
.footer-grid ul.social-icon li a {
    background: url(../images/t-icn.png)no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 0.5em;
}
.footer-grid ul.social-icon li a.fb {

    background-position: 0px 0px;
}
.footer-grid ul.social-icon li a.tw {
    background-position: -27px 0px;
}
.footer-grid ul.social-icon li a.gmail {
    background-position: -53px 0px;
}
.footer-grid ul.social-icon li a.fb:hover{
    background-position: 0px 0px;
    opacity: 0.8;
}
.footer-grid ul.social-icon li a.tw:hover {
    background-position: -27px 0px;
    opacity: 0.8;
}
.footer-grid ul.social-icon li a.gmail:hover {
    background-position: -53px 0px;
    opacity: 0.8;
}
.ftr-bottom-grid {
    float: left;
    width: 33%;
}
.ftr-bottom {
    margin-top: 3em;
}
.ftr-bottom-grid h3 {
    font-size: 1.8em;
    color: #17A9B5;
    margin-bottom: 0.4em;
    font-family: 'Ubuntu', sans-serif;
}
.ftr-bottom-grid p {
    font-size: 1em;
    color:#4E4D4D;
    line-height: 1.8em;
        width: 90%;
}
.ftr-bottom-grid ul li {
    display: inline-block;
}
.ftr-bottom-grid ul li a {
    background: url(../images/payment.png)no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
}
.ftr-bottom-grid ul li a.pay1 {
    background-position: 0px 0px;
}
.ftr-bottom-grid ul li a.pay2 {
    background-position: -39px 0px;
}
.ftr-bottom-grid ul li a.pay3 {
    background-position: -79px 0px;
}
 /*-- w3layouts --*/
.ftr-bottom-grid ul li a.pay4 {
    background-position: -118px 0px;
}
/*--footer end here--*/
/*--copyrights stat here--*/
.copy-rights p {
    font-size: 1em;
    color: #fff;
    text-align: center;
    line-height: 1.7em;
    padding: 0em 0.5em;
}
.copy-rights p a{
  color:#FFC562; 
}
.copy-rights p a:hover{
  color: #fff; 
}
.copy-rights {
    padding:2em 0em;
}
.clear{
	clear:both;
}
/*--copyrights end here--*/
@media(max-width:1440px){
	
}
@media(max-width:1366px){
.footer-grid input[type="submit"] {
    width: 32%;
}
.footer-grid p {
    width: 85%;
}
}
@media(max-width:1280px){
.footer-grid p {
    width: 93%;
}	
}
@media(max-width:1024px){
.ftr-bottom-grid p {
    width: 100%;
}	
.footer-grid input[type="text"] {
    font-size: 0.9em;
    width: 45%;
}
/*-- agileits --*/
.footer-grid input[type="submit"] {
    width: 35%;
    font-size: 0.75em;
    padding: 0.8em 1em;
}
.ftr-bottom-grid h3 {
    font-size: 1.5em;
}
.footer {
    padding: 2em 0em 2em 0em;
}
.footer-grid h3 {
    font-size: 1.5em;
}
}
@media(max-width:991px){
	
}
@media(max-width:768px){
.footer-grid {
    float: none;
    width: 100%;
    margin-bottom: 1.5em;
}	
.footer-grid h3 {	
    margin-bottom: 0.3em;
}
.ftr-bottom-grid {
    float: none;
    width: 100%;
    margin-bottom: 1em;
}
.ftr-bottom {
    margin-top: 0em;
}
.footer-grid input[type="submit"] {
    width: 16%;
    font-size: 0.8em;
}
}
@media(max-width:640px){
.footer {
    padding: 3em 0em 1em 0em;
}	
h1 {
    font-size: 2.5em;
}
/*-- w3layouts --*/ 
}
@media(max-width:480px){
.footer-grid input[type="text"] {
    width: 65%;
}
h1 {
    font-size: 2em;
}	
.footer-grid input[type="submit"] {
    width: 25%;
}
}
@media(max-width:384px){
.footer-grid input[type="text"] {
    width: 58%;
}
.footer-grid input[type="submit"] {
    width: 28%;
    font-size: 0.78em;
}
.footer-main {
    padding: 2em 2em;
}
.footer-grid {
    margin-bottom: 1em;
}
.ftr-bottom-grid h3 {
    font-size: 1.3em;
}
.footer-grid h3 {
    font-size: 1.3em;
}
}
@media(max-width:320px){
h1 {
    font-size: 2em;
    margin-top: 0.5em;	
}
.footer {
    padding: 1em 0em 1em 0em;
}
.footer-main {
    padding: 1em 1.5em;
}
.footer-grid ul li a {
    font-size: 0.9em;
}
.wrap {
    width: 95%;
}
.footer-grid h3 {
    font-size: 1.5em;
    margin-bottom: 0.1em;
}
.ftr-bottom-grid h3 {
    font-size: 1.5em;
    margin-bottom: 0.2em;
}
.copy-rights {
    padding: 1em 0em;
}
.copy-rights p {
    font-size: 0.9em;
}
h1 {
    font-size: 1.6em;
}
.ftr-bottom-grid h3 {
    font-size: 1.3em;
}
.footer-grid h3 {
    font-size: 1.3em;
}
}
/*-- agileits --*/